<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Responders - Auto Responder</title>
</head>

<body style="background-color: rgba(0, 0, 0, 0.884);">
    <!-- NAVBAR STARTS!  -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Auto response bot</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/addnewresponder">Add new reponder</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/listallresponders">List all the responders</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- NAVBAR ENDS  -->
    <div class="jumbotron" style="margin:10%; color: #ffffff">
        <center>
            <h1>List all responders</h1>
            <p>This is the page to see all currently active responders.</p>
            <style type="text/css">
                .tg {
                    border-collapse: collapse;
                    border-spacing: 0;
                }
            
                .tg td {
                    border-color: white;
                    border-style: solid;
                    border-width: 1px;
                    font-family: Arial, sans-serif;
                    font-size: 14px;
                    overflow: hidden;
                    padding: 10px 5px;
                    word-break: normal;
                }
            
                .tg th {
                    border-color: white;
                    border-style: solid;
                    border-width: 1px;
                    font-family: Arial, sans-serif;
                    font-size: 14px;
                    font-weight: normal;
                    overflow: hidden;
                    padding: 10px 5px;
                    word-break: normal;
                }
            
                .tg .tg-0lax {
                    color: white;
                    text-align: left;
                    vertical-align: top
                }
            </style>
            <table class="tg">
                <thead>
                    <tr>
                        <th class="tg-0lax">Name</th>
                        <th class="tg-0lax">Triggers</th>
                        <th class="tg-0lax">Responses</th>
                        <th class="tg-0lax">Edit</th>
                    </tr>
                </thead>
                <tbody>
                    <% responders.forEach(function(responder){ %>
                    <tr>
                        <td class="tg-0lax"><%= responder.name %></td>
                        <td class="tg-0lax"><%= responder.triggers %></td>
                        <td class="tg-0lax"><%= responder.responses %></td>
                        <td class="tg-0lax"><a href="/editresponder?responder=<%= responder.name %>">Edit</a></td>
                    </tr>
                    <% }); %>
                </tbody>
            </table>
        </center>
    </div>
</body>

</html>